conda.enabled = true

manifest {
 mainScript = 'dna_features_viewer.nf'
 description = 'A wrapper pipeline that does some bespoke plotting using the DNA Features Viewer library from https://edinburgh-genome-foundry.github.io/DnaFeaturesViewer/'
 version = '1.0.0'
}

dag.file = "results/${manifest.mainScript}__dag.html"
dag {
    enabled = true
    overwrite = true
}

report.file = "results/${manifest.mainScript}__report.html"
report {
    enabled = true
    overwrite = true
}

trace.file = "results/${manifest.mainScript}__trace.txt"
trace {
    enabled = true
    overwrite = true
}


executor{
  queueSize=20
}

process {
    withName:svg_2_pdf {
        //container = 'docker://cardboardci/rsvg:20200902'
        container = 'docker://accetto/ubuntu-vnc-xfce-inkscape-g3'    
    }
    withName:svg_resize_page {
        container = 'docker://accetto/ubuntu-vnc-xfce-inkscape-g3'
    }
    //withName:pdf_2_PDF_A_1B {
    //    container = 'docker://minidocks/ghostscript'
    //}
}

//includeConfig '../../conf/apptainer.nf.config'
//includeConfig '../../conf/singularity.nf.config'

