dag {
    enabled = true
    file = 'results/dag.html'
}

report {
    enabled = true
    file = 'results/report.html'
}


executor{
  queueSize=20
}

process {
    withName:svg_2_pdf {
        container = 'docker://cardboardci/rsvg:20200902'
    }
}

includeConfig '/home/tfallon/Scripts/nextflow/singularity.nf.config'
