conda.enabled = true

includeConfig '/home/tfallon/source/nextflow/dna_features_viewer/nextflow.config'
includeConfig '/home/tfallon/Scripts/nextflow/singularity.nf.config'

manifest {
 mainScript = 'interproscan_parallel.nf'
 description = 'A wrapper pipeline that runs, simplifies, and plots an interproscan analysis of a polypetide fasta'
 version = '1.0.0'
}

dag.file = "results/${manifest.mainScript}__dag.html"
dag {
    enabled = true
    overwrite = true
}

trace.file = "results/${manifest.mainScript}__trace.txt"
trace {
    enabled = true
    overwrite = true
}

report.file = "results/${manifest.mainScript}__report.html"
report {
    enabled = true
    overwrite = true
}

executor {
  queueSize = 20
}

process {
    // This container is used to get around this error
    // bin/prosite/pfscanV3: /lib64/libm.so.6: version `GLIBC_2.27' not found (required by bin/prosite/pfscanV3)
    // Per ldd --version, the host GLIBC version is 2.17 
    // Within the container, the GLIBC version is 2.31
    // BUT, the current version of interproscan is interproscan-5.64-96.0 (just released today...), the docker container hasn't been updated yet. 
    interpro_scan_container = 'docker://interpro/interproscan:5.64-96.0'
    withName:interproscan_run {
        container = interpro_scan_container
    }
    withName:download_interproscan_docker_data {
        container = interpro_scan_container
    }
}

singularity.runOptions = "-B ../../../dependencies/download_interproscan_docker_data/interproscan-5.64-96.0/data/:/opt/interproscan/data:ro" //Mounting the interproscan data directory into the appropriate location . The ../../../ is needed, as the PWD is the Nextflow work directory
