//conda.cacheDir = '/dev/shm/tfallon/nf_conda_envs' // Don't judge me. We have a lot of RAM and a slow HPC filesystem. 

apptainer {
    //cacheDir = "/oasis/tscc/scratch/tfallon/tmp/nf_singularity_imgs"
    //cacheDir = "/dev/shm/tfallon/nf_singularity_imgs" // Don't judge me. We have a lot of RAM and a slow HPC filesystem.  
    enabled = true
    runOptions = "-B ../../../dependencies/download_interproscan_docker_data/interproscan-5.73-104.0/data/:/opt/interproscan/data:ro" //Mounting the interproscan data directory into the appropriate location . The ../../../ is needed, as the PWD is the Nextflow work directory
    autoMounts = true
}
