//conda.cacheDir = '/dev/shm/tfallon/nf_conda_envs' // Don't judge me. We have a lot of RAM and a slow HPC filesystem. 

apptainer {
    //cacheDir = "/oasis/tscc/scratch/tfallon/tmp/nf_singularity_imgs"
    //cacheDir = "/dev/shm/tfallon/nf_singularity_imgs" // Don't judge me. We have a lot of RAM and a slow HPC filesystem.  
    enabled = true
    //runOptions = "-B ../../../trf:/opt/trf:ro" //Sometimes used to link executables into containers
    autoMounts = true
}
